.article-sections {
    position: absolute;
    height: 100%;
    overflow: scroll;
    background: white;
    padding: 10px 30px;
}

.news-canvas {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}